/* About: CSS Settings for my About Me Page */

/* Page Coloration */

body.aboutme {
  padding: 0px;
  margin: 0px;
  background-color: rgba( 255, 236, 184 , 0.6 );
}

div.links {
  height: 300px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
}

/* Header Settings */

h1.index {
  margin-top: 30px;
  margin-left: 45px;
  float: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.link {
  margin-top: 30px;
  margin-right: 45px;
  float: right;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 150;
  line-height: 26.4px;

}

/* Link Settings */
a.subset:link, a.subset:visited {
  border-style: solid;
  border-color: rgba( 147, 109, 3, 0.6 );
  color: black;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.subset:hover {
  background-color: rgb( 255, 221, 128 );
}

a.title:link, a.title:visited,  a.title:hover, a.title:active{
  border-style: none;
  color: black;
  text-decoration: none;
}
