/* About: CSS Settings for my About Me Page */

/* Page Coloration */

body.aboutme {
  padding: 0px;
  margin: 0px;
}

div.links {
  height: 150px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: rgba(92, 115, 184, 0.6);
}

div.bio {
  height: 350px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: rgba(92, 115, 184, 0.8);
}

div.skills {
  height: 350px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: rgba(92, 115, 184, 1);
}
/* Header Settings */

h1.index {
  margin-top: 45px;
  margin-left: 45px;
  float: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.link {
  margin-top: 45px;
  margin-right: 45px;
  float: right;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 150;
  line-height: 26.4px;

}

/* Paragraph Settings */
p.aboutme {
  margin-top: 100px;
  margin-left: 45px;
  margin-right: 600px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 85;
  line-height: 26.4px;
}

/* Link Settings */
a.subset:link, a.subset:visited, a.subset:active {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.subset:hover {
  font-size: 24px;
  color: rgb(69, 109, 230);
}

a.title:link, a.title:visited,  a.title:hover, a.title:active{
  border-style: none;
  color: white;
  text-decoration: none;
}

a.bio:link, a.bio:visited,  a.bio:hover, a.bio:active{
  border-style: none;
  color: white;
  text-decoration: underline;
}
