.welcome {
   background-color: rgba(96, 162, 148, 0.6);
}

.about1 {
  background-color: rgba(96, 111, 186, 0.5);
}

.about2 {
  background-color: rgba(204, 255, 255, 0.6);
}

.about3 {
  background-color: rgba(0, 215, 242, 0.6);
}
