/* About: CSS Settings for my About Me Page */

/* Page Coloration */

body.connect {
  padding: 0px;
  margin: 0px;
}

div.links {
  height: 150px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  background-color: #5d5c61;
}

div.email {
  height: 250px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  background-color: #7395ae;
}

div.linkedin {
  height: 150px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  background-color: #557a95;
}

div.github {
  height: 150px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  background-color: #b1a296;
}

/* Header Settings */

h1.index {
  margin-top: 45px;
  margin-left: 45px;
  float: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.link {
  margin-top: 45px;
  margin-right: 45px;
  float: right;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 150;
  line-height: 26.4px;
}

h1.social {
  margin-top: 80px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

/* Link Settings */
a.subset:link, a.subset:visited, a.subset:active {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.subset:hover {
  font-size: 24px;
  color: rgb(69, 109, 230);
}

a.title:link, a.title:visited,  a.title:hover, a.title:active{
  border-style: none;
  color: white;
  text-decoration: none;
}

a.social:link, a.social:visited, a.social:active {
  color: white;
  text-align: center;
  text-decoration: none;
}

a.social:hover {
  border-style: double;
  border-radius: 5px;
  padding: 10px 10px;
  border-color: white;
}
