/* About: CSS Settings for my Landing Page */

/* Page Coloration */

body.welcome {
  padding: 0px;
  margin: 0px;
  background-color: rgba( 255, 247, 222, 0.6 );
}

div.links {
  height: 300px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
}

div.image {
  height: 300px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
}

/* Header Settings */

h1.index {
  margin-top: 30px;
  margin-left: 45px;
  float: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.link {
  margin-top: 30px;
  margin-right: 45px;
  float: right;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 150;
  line-height: 26.4px;

}
/* Paragraph Settings */

p.index {
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 15px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
}

/* Image Settings */

img.index {
  transform: rotate(90deg);
  float: right;
  border-radius: 25px;
  margin-right: 45px;
  width: 400px;
  height: 250px;
}
