/* About: CSS Settings for my Landing Page */

/* Page Coloration */

body.welcome {
  padding: 0px;
  margin: 0px;
  /*background-color: rgba( 255, 236, 184 , 0.6 );*/
}

div.links {
  height: 300px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #f8b195;
}

div.about {
  height: 300px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: rgba(246, 114, 128, 0.7);
}

div.projects {
  height: 300px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #c06c84;
}

div.references {
  height: 300px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #6c5b7b;
}

div.connect {
  height: 300px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #355c7d;
}

/* Header Settings */

h1.title {
  margin-top: 85px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 80px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.link {
  margin-top: 125px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 78px;
  font-style: normal;
  font-variant: normal;
  font-weight: 150;
  line-height: 26.4px;
}
/* Paragraph Settings */

p.index {
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  font-size: 15px;
  font-style: italic;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
}

p.title {
  margin-top: 80px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 85;
  line-height: 26.4px;
}

/* Image Settings */

img.index {
  transform: rotate(90deg);
  float: right;
  border-radius: 25px;
  margin-right: 45px;
  width: 400px;
  height: 250px;
}

/* Link Settings */
a.subset:link, a.subset:visited {
  color: white;
  text-align: center;
  text-decoration: none;
}

a.subset:hover {
  border-style: double;
  border-radius: 5px;
  padding: 10px 10px;
  border-color: white;
}

a.title:link, a.title:visited,  a.title:hover, a.title:active{
  border-style: none;
  color: white;
  text-decoration: none;
}
