p.standard {
  margin-top: 75px;
  /* margin-bottom: 100px; */
  margin-right: 150px;
  margin-left: 80px;
  text-align: justify;
}

p.about_me_link {
  margin-left: 80px;
  text-align: left;
}

h1 {
  text-align: center;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
