body.goals {
  padding: 0px;
  margin: 0px;
  background-color: #444455;
}

body.eda {
  padding: 0px;
  margin: 0px;
  background-color: #444455;
}

body.modeling {
  padding: 0px;
  margin: 0px;
  background-color: #444455;
}

h1.title {
  margin-top: 40px;
  text-align: center;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h2.subtitle {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  text-align: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

h3.subtitle {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  text-align: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 26.4px;
}

p.description {
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
}

ul.description {
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-family: "Futura", "Trebuchet MS", "Arial", "sans-serif";
  color: white;
}

hr.solid {
  border-top: 3px solid #bbb;
}
